<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="ts=%d{HH:mm:ss.SSS} lvl=%p msg=%minecraftFormatting{%msg}%n%xEx" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="${env:VELOCITY_LOG_LEVEL:-info}">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>
